@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAF9;
    font-family: 'Sora', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}

h1 {
    font-family: 'Sora';
    font-size: 1.125rem;
    padding: 16px 16px 6px;
    color: #20293A;
}

img {
    width: 100%;
    height: 184px;
    padding: 16px;
    border-radius: 30px;
}

.card {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px rgba(17, 23, 41, 0.3);
    width: 368px;
    overflow: hidden;

}

.design {
    background-color: #caa5f6ae;
    border-radius: 10px;
    width: fit-content;
    padding: 6px 16px;
    text-align: center;
    color: #883AE1;
    font-size: 0.625rem;
    font-weight: bold;
    margin-left: 16px;

}

.content {
    color: #6C727F;
    font-size: 0.875rem;
    margin-left: 16px;
    padding-right: 16px;
}

.footer {
    font-weight: 900;
    font-size: 0.625rem;
    color: #a7abb0;
    margin: 20px 16px;
}

hr {
    border-color: #a7abb05d;
    ;
    margin-top: 20px;
}